<div>
    An open game with id {{ game.id }}<br />
    <br />
    Hosted by: {{ game.host.name }} ({{game.host.id}})<br />
    <br />
    Players: <br />
    <div ng-repeat="player in game.players">{{ player.name }} ({{ player.userId}})</div>
    <br />
    VP limit: {{ game.vpLimit }}<br />
    <br />
    <div ng-show="canJoin">
        <div ng-show="game.hasPassword">
            <strong>Password protected.</strong><br />
            Password: <input type="text" ng-model="value" /><br />
        </div>
        <button ng-click="joinGame()">Join game!</button>
    </div>
    <div>
        <button ng-click="launchGame()">Launch game!</button>
    </div>
</div>
