.main {
    text-align: center;
}

.register {
    text-align: center;
    float: left;
    width: 50%;
}

.login {
    text-align: center;
    float: left;
    width: 50%;
}

.container {

}

.input-container {
    margin: 5px;
}

.label-container {
    width: 150px;
    display: inline-block;
    text-align: left;
}

.field-container {
    width: 250px;
    display: inline-block;
}

.input-field {
    width: 100%;
}

.error {
    color: red;
    margin: 10px;
    font-weight: bold;
}

.footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.stats {
}
