<div>
    <h1>Lobby screen</h1>
    <strong>Welcome, {{ user.name }}</strong>

    <h2>Active games</h2>
    <div ng-repeat="game in activeGames">
        A game with id {{ game.id }}! <button ng-click="play(game)">Play!</button><br />
    </div>

    <h2>Archived games</h2>
    <div ng-repeat="game in archivedGames">
        A game with id {{ game.id }}! <button ng-click="play(game)">View!</button><br />
    </div>

    <h2>Unstarted games you have joined:</h2>
    <div ng-repeat="game in waitingGames">
        <open-game game="game" canJoin="0" isHost="{{ isHost(game) }}"></open-game>
    </div>

    <h2>Unstarted games you can join:</h2>
    <div ng-repeat="game in openGames">
        <open-game game="game" canJoin="1"></open-game>
    </div>

    <h2>Host a new game!</h2>
    Password: <input type="text" ng-model="newGame.password" /><br />
    VP limit: <input type="text" ng-model="newGame.vpLimit" /><br />
    <br />
    <button ng-click="create()">Create!</button>

</div>
