<h4>A tactical order</h4>
<div>Tile: {{ order.data.tile }}</div>
<div style="width: 200px; height: 200px">
	<tile id="order.data.tile"></tile>
</div>
<div>Owner: {{ order.ownerId }}</div>
<div ng-if="order.data.pieces.length">
	<span>Inbound: </span>
	<piece ng-repeat="id in order.data.pieces" piece="getPiece(id)"></piece>
</div>
<div ng-if="order.data.newPieces.length">
	<span>Building: </span>
	<piece-type-icon piece-type="getPieceType(id)" ng-repeat="id in order.data.newTypes"></piece-type-icon>
</div>
