<h3>Player info for {{ playerInfo.name }} <span style="width: 25px; height: 25px" ng-style="{'background-color': playerInfo.color, color: playerInfo.color }">color</span></h3>
<h4>Turn information</h4>
Current turn is: {{ currentTurn() }}<br />
Viewing turn: {{ viewingTurn() }}<br />
<div ng-if="allowHistory">
	<button ng-disabled="!hasPrevTurn()" ng-click="prevTurn()">View previous</button>
	<button ng-disabled="!hasNextTurn()" ng-click="nextTurn()">View next</button>
</div>
<h4>Resources</h4>
{{ resources.current.industry }} of {{ resources.initial.industry }} I \ {{ resources.current.social }} of {{ resources.initial.social }} S
<h4>Current orders ({{ orders.length }})</h4>
<div ng-repeat="order in orders">
	<tactical-order ng-if="order.orderType == 'tactical'" order="order"></tactical-order>
	<objective-order ng-if="order.orderType == 'claimObjective'" order="order"></objective-order>
	<button ng-click="cancel(order)">Cancel this order</button>
</div>

<button ng-show="!playerInfo.ready" ng-click="ready()">Ready</button>
<button ng-show="playerInfo.ready" ng-click="notReady()">Not ready</button>
